/* basic */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

body {
    background: #212121;
    color: white;
}

/* score */
.score {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0;
}

.score-x, .score-o, .turn {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.score > div > span {
    margin: 0 5px;
}

#player {
    margin: 0;
}

/* border */
.border {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
}

.row {
    display: flex;
    justify-content: center;
}

.area {
    width: 10vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}

.area:hover {
    background: #323232;
}

#area2, #area5, #area8 {
    border-left: solid 2px white;
    border-right: solid 2px white;
}

#area4, #area5, #area6 {
    border-top: solid 2px white;
    border-bottom: solid 2px white;
}
